@using SchoolApp.Data
@model Student
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>



<a asp-action="Index">Back  to list</a>
<table class="table table-success">
    <tr>
        <td>Id :  @Model.StudentId</td>
         <td>Name: @Model.FirstName  @Model.LastName</td>

        
       </tr>
</table>



 Registered Courses :

 <table  class="table table-hover "> 
     <thead>
         <tr>
            <td>EnrolmentId</td>

             <td>Course</td>
            <td>Grade</td>

         </tr>
     </thead>

     <tbody>

         @foreach (var item in Model.Enrollments)
        {
            <tr>

                <td>@item.EnrollmentId</td>
                <td>@item.Course.Title</td>
                <td>@item.Grade</td>
            </tr>
        }
     </tbody>
 </table>
